
/* ========== MOBILE FIRST APPROACH ========== */

:root {
    /* Colors */
    --clr-primary: #f4f4f4;
    --clr-primary-opacity: rgba(244, 244, 244, 0.1);
    --clr-secondary: #d0d0d0;
    --clr-dark-bg: #1D2125;
    --clr-dark-blue: #1b1e2b;
    --clr-dynamic-text: #9FADBC;
    --clr-hover-bg: #A6C5E229;

    /* Fonts */
    --font-primary: 'Cabin', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
}

/* Global Reset Styles */

*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

/* Layout Styles from base.html.twig */

body {
    background-color: var(--clr-dark-bg);
}

/* ========== Header Styles ========== */

header {
    background-color: var(--clr-dark-bg);
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid var(--clr-primary-opacity);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div.logo {
    padding: 10px;
    padding-bottom: 7px;
    border-radius: 10px;
}

header div.logo img {
    width: 110px;
}

header div.logo a {
    color: var(--clr-dynamic-text);
    font-size: 1.3rem;
}

header div.logo:hover {
    cursor: pointer;
    background-color: #A6C5E229;
}

header div.logo:hover a i {
    animation: threeDimensionRotate 2s ease infinite;
}

@keyframes threeDimensionRotate {
    0% {
        transform: rotateY(0deg);
    }
    25% {
        transform: rotateY(180deg);
    }
    50% {
        transform: rotateY(360deg);
    }
    75% {
        transform: rotateX(180deg);
    }
    100% {
        transform: rotateX(360deg);
    }
}

header nav ul {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

header nav ul li a {
    color: var(--clr-dynamic-text);
    font-size: 1.2rem;
}

header div.left-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* =============== Home view =============== */

main.home-container {
    background-color: var(--clr-dark-bg);
}

/* =============== Project view =============== */

main.project-container {
    background: rgb(54,65,83);
    background: linear-gradient(150deg, rgba(54,65,83,1) 0%, rgba(38,50,71,1) 35%, rgba(18,31,55,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}